@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: gilroy;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: gilroy;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #FFE4BD;
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.page__exchange {
  width: 100%;
}

.exchange__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.info-exchange {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 20px;
}

.info-exchange__top {
  padding: 12px 10px 20px 18px;
}

.info-exchange__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 134.6153846154%;
  color: #454545;
}

.info-exchange__title:not(:last-child) {
  margin: 0 0 6px 0;
}

.info-exchange__text {
  padding: 0 21px;
  background-color: #F2F2F2;
  font-weight: 500;
  font-size: 16px;
  line-height: 218.75%;
  color: #E7624F;
}

.info-exchange__bottom {
  position: relative;
  padding: 10px 10px 6px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #F2F2F2;
  font-weight: 600;
  font-size: 16px;
  line-height: 118.75%;
  color: #E7624F;
}

.info-exchange__bottom::before {
  position: absolute;
  content: "*";
  top: 5px;
  left: 21px;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #454545;
}

.today-course__item {
  position: relative;
  font-size: 20px;
  line-height: 175%;
  color: #454545;
  padding: 0 0 0 35px;
}

.no-webp .today-course__item::before {
  background: url("../img/icons/rub.png") center no-repeat; }

.today-course__item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  overflow: hidden;
}

.others-courses {
  padding: 12px 10px 20px 18px;
}

.others-courses__item {
  position: relative;
  padding: 0 0 0 35px;
  font-size: 20px;
  line-height: 175%;
  color: #454545;
}

.others-courses__item::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  overflow: hidden;
}

.others-courses__item .fatty {
  font-weight: 600;
  margin: 0 3px;
}

.no-webp .others-courses__item_rub::before {
  background: url("../img/icons/rub.png") center no-repeat; }

.no-webp .others-courses__item_usdt::before {
  background: url("../img/icons/usdt.png") center no-repeat; }

.no-webp .others-courses__item_dollar::before {
  background: url("../img/icons/dollar.png") center no-repeat; }

.no-webp .others-courses__item_uah::before {
  background: url("../img/icons/uah.png") center no-repeat; }

.no-webp .others-courses__item_rs::before {
  background: url("../img/icons/rs.png") center no-repeat; }

.calculator {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 20px;
}

.calculator__bottom {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 118.75%;
  color: #454545;
  padding: 19px 16px 23px 19px;
  border-radius: 0px 0px 0px 15px;
}

.form-calculator {
  padding: 12px 17px 21px 18px;
  font-size: 16px;
  line-height: 218.75%;
  color: #454545;
}

.form-calculator__top {
  border-bottom: 1px dashed #454545;
  padding: 0 0 17.5px 0;
}

.form-calculator__top:not(:last-child) {
  margin: 0 0 17.5px 0;
}

.form-calculator__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 134.6153846154%;
  color: #454545;
}

.form-calculator__title:not(:last-child) {
  margin: 0 0 6px 0;
}

.form-calculator__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 6px 0;
}

.form-calculator__select-wrapper {
  position: relative;
  margin: 0 0 0 15px;
}

.form-calculator__select-wrapper::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 14px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}

.no-webp .form-calculator__select-wrapper.rub_online::before {
  background: url("../img/icons/rub.png") center no-repeat; }

.no-webp .form-calculator__select-wrapper.rub_nal::before {
  background: url("../img/icons/rub.png") center no-repeat; }

.no-webp .form-calculator__select-wrapper.usdt::before {
  background: url("../img/icons/usdt.png") center no-repeat; }

.no-webp .form-calculator__select-wrapper.dollar::before {
  background: url("../img/icons/dollar.png") center no-repeat; }

.no-webp .form-calculator__select-wrapper.uah::before {
  background: url("../img/icons/uah.png") center no-repeat; }

.no-webp .form-calculator__select-wrapper.rs::before {
  background: url("../img/icons/rs.png") center no-repeat; }

.no-webp .form-calculator__select-wrapper::after {
  background: url("../img/icons/arrow.png"); }

.form-calculator__select-wrapper::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 12px;
  top: 17.5px;
  right: 11px;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-calculator__select-wrapper.active::after {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.form-calculator__bottom {
  font-size: 16px;
  line-height: 218.75%;
  color: #454545;
}

.form-calculator__promo-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 218.75%;
  color: #454545;
}

.form-calculator__promo-code input {
  margin: 0 0 0 15px;
}

.form-calculator__phone {
  position: relative;
}

.no-webp .form-calculator__phone::before {
  background: url("../img/icons/rub.png") center no-repeat; }

.form-calculator__phone::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  left: 16px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

.input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
  padding: 10px 16px 10px 16px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-size: 16px;
  color: #454545;
}

.input__phone {
  padding: 10px 16px 10px 67px;
}

.input__phone:valid {
  color: #9E9E9E;
}

.input__phone:focus {
  color: #454545;
}

.select {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 223px;
          flex: 0 0 223px;
  width: 223px;
  height: 51px;
  padding: 14px 40px 14px 46px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-size: 16px;
  color: #454545;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select::-ms-expand {
  display: none;
}

.btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 223px;
          flex: 0 0 223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 5px 73px;
  width: 223px;
  height: 46px;
  background: #E7624F;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0px 15px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0 0 0 15px;
  -webkit-transition: all 0.3 ease 0s;
  -o-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
  position: relative;
}

.no-webp .btn::before {
  background: url("../img/icons/rub.png") center no-repeat; }

.btn::before {
  position: absolute;
  content: "";
  left: 16px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  overflow: hidden;
}

.btn:hover {
  background: #e1503a;
}

@media (min-width: 600px) {
  .form-calculator__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1152px) {
  .exchange__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    margin: 0 -15px;
  }
}

@media (max-width: 1152px) {
  .container {
    max-width: 970px;
  }

  .page {
    height: auto;
    padding: 50px 0;
  }

  .exchange__column {
    padding: 0;
  }

  .exchange__column:not(:last-child) {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .form-calculator__select-wrapper::before {
    left: 5px;
  }
}

@media (max-width: 600px) {
  .form-calculator__promo-code {
    display: block;
  }

  .form-calculator__promo-code input {
    margin: 0;
  }

  .form-calculator__phone::before {
    top: 13px;
  }

  .input {
    width: 100%;
  }

  .input:not(:last-child) {
    margin: 0 0 15px 0;
  }

  .btn {
    padding: 5px 0 5px 26%;
    width: 76.9%;
    margin: 0 auto;
  }
}

@media (max-width: 479.98px) {
  .info-exchange__top {
    padding: 12px 7.5px 20px 7.5px;
  }

  .others-courses {
    padding: 12px 7.5px 20px 7.5px;
  }

  .form-calculator {
    padding: 12px 7.5px 21px 7.5px;
  }

  .form-calculator__select-wrapper {
    margin: 0 0 0 10px;
  }

  .form-calculator__select-wrapper::after {
    right: 7px;
  }

  .select {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 195px;
            flex: 0 0 195px;
    width: 195px;
    padding: 14px 28px 14px 33px;
  }
}

.webp .today-course__item::before { background: url(../img/icons/rub.webp) center no-repeat; }

.webp .others-courses__item_rub::before { background: url(../img/icons/rub.webp) center no-repeat; }

.webp .others-courses__item_usdt::before { background: url(../img/icons/usdt.webp) center no-repeat; }

.webp .others-courses__item_dollar::before { background: url(../img/icons/dollar.webp) center no-repeat; }

.webp .others-courses__item_uah::before { background: url(../img/icons/uah.webp) center no-repeat; }

.webp .others-courses__item_rs::before { background: url(../img/icons/rs.webp) center no-repeat; }

.webp .form-calculator__select-wrapper.rub_online::before { background: url(../img/icons/rub.webp) center no-repeat; }

.webp .form-calculator__select-wrapper.rub_nal::before { background: url(../img/icons/rub.webp) center no-repeat; }

.webp .form-calculator__select-wrapper.usdt::before { background: url(../img/icons/usdt.webp) center no-repeat; }

.webp .form-calculator__select-wrapper.dollar::before { background: url(../img/icons/dollar.webp) center no-repeat; }

.webp .form-calculator__select-wrapper.uah::before { background: url(../img/icons/uah.webp) center no-repeat; }

.webp .form-calculator__select-wrapper.rs::before { background: url(../img/icons/rs.webp) center no-repeat; }

.webp .form-calculator__select-wrapper::after { background: url(../img/icons/arrow.webp); }

.webp .form-calculator__phone::before { background: url(../img/icons/rub.webp) center no-repeat; }

.webp .btn::before { background: url(../img/icons/rub.webp) center no-repeat; }